body{
    background-color: lightgray;
}

#div3_1{
    background-color: white;
    height: 500px;
    width: 50vw;
    border: 10px dotted black;
    display: flex;
    flex-direction: column;
    padding-top: 250px;
    padding-bottom: 250px;
}

#div3_2{
    background-color: yellow;
    height: 50px;
    width: 30%;
}

#div3_3{
    background-color: rgb(255, 140, 0);
    height: 100px;
    width: 30%;
}

#div3_4{
    background-color: rgb(0, 116, 0);
    color: white;
    font-size: 30px;
    padding: 50px;
    margin-top: 50px;
    margin-left: 50px;
}