#div2_1{
    background-color: rgb(230, 127, 230);
    height: 250px;
    width: 100%;
    display: flex;
    padding-top: 125px;
    padding-bottom: 125px;

}

#div2_2{
    background-color: rgb(255, 194, 204);
    height: 100%;
    width: 250px;
    border: 5px dashed red;
}

#div2_3{
    background-color: rgb(4, 255, 213);
    height: 88%;
    width: 30%;
}